:root {
    --primario: #17b8ec;
    --blanco: #fff;
    --primario_suave: #67d0f3;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.banner {
    background-image: url('img/R.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 450px;
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
}

.grid {
    display: flex;
    justify-content: space-between;
}

/* Estilos para cada contenedor .cont_panel */
.cont_panel {
    padding: 10px;
   text-align: center;
    max-width: 50%; 
   
}
.cont_panel video {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
}
.cont_panel p{
    margin: 10px;
    padding: 20px;
}
.form{
   
    background-color: var(--primario);
    width: 400px;
    margin: 30px 50px;
    border: var(--primary) solid 1px;
    border-radius: 20px;
    padding: 20px 30px;
    color: var(--blanco);
    font-size: 20px;
    font-weight: bold;
}
label{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.form_input {
    width: 100%;
    border: var(--primario) solid 1px;
    border-radius: 9px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #35bae7;
    color: #fff;
}
.cursos{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2,2fr);
    justify-items: center;
    margin: 20px;
    padding: 15px;
}
.items{
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: #17b8ec;
    border-radius: 20px;
    text-align: center;
}

.footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    
}
.footer > div{
    padding-inline: 30px;
}
@media screen and (max-width: 768px) {
    .footer {
        justify-content: flex-start; 
    }
    .footer > div {
        flex-basis: 100%;
        padding: 5px;
    }
}
